/*
    Author: Artur Partyka
    Description: Styles for smaller screens
    Document name: 720p.css
    Date: 6/3/2015 (6th March 2015)
*/

.scoreboard h1 { margin: 0px; font-size: 15px; color: #FFF; text-align: center; }
.scoreboard h3 { margin: 0px; font-size: 10px; }
.scoreboard p { margin: 4px 0px 0px 4px; text-align: left; font-size: 10px;}

.scoreboardContainer { 
    width: 200px;
    height: 300px;
}

#scoreboardContent {
    width: 200px;
    height: 300px;
}

.card_container {
    width: calc(225px / 1.15);
    height: calc(321px / 1.15);
}

#container {
    height: 280px;
    width: 900px;
}

.face.back {
    height: calc(321px / 1.15);
    width: calc(225px / 1.15);
}

body {
    width: 100%;
    background-size: 20%;
}

.themeCard {
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-position: center;
}

.resultsPage {
    width: auto;
    height: auto;
}